body {
  background-color: white;
  font-family: "Chewy", cursive;
  margin: 0;
  font-size: 20px;
}

/****************************************HEADER SECTION*********************/
header {
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  header {
    height: 50vh;
  }
}

.header__container {
  background-image: url("../images/pexels-lina-kivaka-1741231-banner.jpg");
  background-size: cover;
  background-position: 0% 100%;
  position: relative;
  height: 15vh;
  padding: 10px 10px;
}

@media only screen and (max-width: 600px) {
  .header__container {
    background-position: 65%;
  }
}
/*------------------------------------------------------------------------------*/
.header__nav {
  background-color: rgb(16, 84, 211);
  border: 2px solid #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  width: 37.5%;
  position: fixed;
  z-index: 1;
  top: 3%;
}
/*---------------MEDIA QUERY FOR THE HEADER NAV DIV----------------------------*/
/*MEDIA QUERY 1024px display resolution*/
@media only screen and (max-width: 1024px) {
  .header__nav {
    width: 50%;
  }
}

/*MEDIA QUERY Mobile phones 600px display resolution*/
@media only screen and (max-width: 600px) {
  .header__nav {
    width: 86%;
    top: 8%;
    left: 50%;
    transform: translate(-50%);
  }
}

/*------------------------------------------------------------------------------*/

/*-------MEDIA QUERY FOR THE HEADER NAV UL (Unordered List)---------------------*/
@media only screen and (max-width: 600px) {
  .header__nav--ul {
    margin: 0 auto;
    margin-bottom: 4px;
  }
}

/*MEDIA QUERY FOR THE HEADER NAV LI (List)*/

@media only screen and (max-width: 600px) {
  .header__nav--li {
    font-size: 0.85rem;
    margin: 0;
    display: inline;
  }
}

li {
  display: inline;
}

.header__links {
  color: white;
  padding: 3px;
  text-decoration: none;
}

/*------------------------------------------------------------------------------*/

/*-------------MEDIA QUERY FOR THE SIGN IN & SIGN UP BUTTON---------------------*/
.header__signIn {
  float: right;
  /*background-color: red;*/
}

/*------------------------------------------------------------------------------*/
.header__signIn--ul {
  margin: 30px 45px 0 10px;
  position: absolute;
  top: 20%;
  left: 75%;
  width: 20%;
}

/*------------- MEDIA QUERY FOR THE header__signIn--ul ---------------------*/
/*MEDIA QUERY 1024px display resolution*/
@media only screen and (max-width: 1024px) {
  .header__signIn--ul {
    /* background-color: blue; */
    width: 25%;
    top: 15%;
    left: 65%;
  }
}
/*MEDIA QUERY Mobile phones 600px display resolution*/
@media only screen and (max-width: 600px) {
  .header__signIn--ul {
    margin: 30px 15px 0 30px;
    top: 10%;
    left: 18%;
    transform: translateX(-24%);
    width: 90%;
  }
}

/*------------------------------------------------------------------------------*/
.header__signIn--li {
  list-style-type: none;
  color: white;
  display: inline;
  text-align: center;
  padding-left: 0;
  padding-right: 20px;
}

.header__signIn--a1 {
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  background-color: rgb(16, 84, 211);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 23px;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
}
@media only screen and (max-width: 600px) {
  .header__signIn--a1 {
    position: relative;
    top: -30px;
    left: 20%;
    margin: -1px;
    font-size: 0.8rem;
  }
}

.header__signIn--a1:hover {
  transform: translateY(20px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.header__signIn--a1:active {
  transform: translateY(18px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.header__signIn--a2 {
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  background-color: rgb(16, 84, 211);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 23px;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
}

@media only screen and (max-width: 600px) {
  .header__signIn--a2 {
    position: relative;
    top: -30px;
    left: 20%;
    margin: -1px;
    font-size: 0.8rem;
  }
}

.header__signIn--a2:hover {
  transform: translateY(20px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.header__signIn--a2:active {
  transform: translateY(18px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

/**************************************************HEADER TEXT-BOX SECTION************************************************/
.header__text-box {
  background-image: url("../images/Janine_Michaela_Arts.png");
  background-size: cover;
  background-position: 20% 30%;
  background-attachment: fixed;
  color: white;
  padding: 23%;
}

/*------------------------------------------------------------------------------*/

/*------------- MEDIA QUERY FOR THE HEADER TEXT-BOX ---------------------*/
/*MEDIA QUERY 1024px display resolution*/
@media only screen and (max-width: 1024px) {
  .header__text-box {
    padding: 30%;
  }
}
/*MEDIA QUERY 600px display resolution*/
@media only screen and (max-width: 600px) {
  .header__text-box {
    margin: 0;
    border: 5px solid black;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

/*------------------------------------------------------------------------------*/

/*------------- MEDIA QUERY FOR THE .header__text-box--circle ---------------------*/

.header__text-box--circle {
  background-color: rgba(16, 84, 211, 0.63);
  border: 2px solid white;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  border-radius: 50%;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*MEDIA QUERY 1024px display resolution*/
@media only screen and (max-width: 1024px) {
  .header__text-box--circle {
    top: 45%;
    width: 70%;
    height: 30%;
  }
}

/*MEDIA QUERY 600px display resolution*/
@media only screen and (max-width: 600px) {
  .header__text-box--circle {
    top: 20%;
    left: 50%;
    height: 25%;
    margin-top: 8%;
    width: 90%;
  }
}

/*------------------------------------------------------------------------------*/

/*------------- MEDIA QUERY FOR THE .header__heading--1 ---------------------*/

.header__heading--1 {
  padding: 5% 0 0 0;
  text-align: center;
  text-shadow: 0 4px 2px rgb(11, 9, 148);
  font-size: 4rem;
  line-height: 75%;
}

.header__heading--span2 {
  font-size: 1.2rem;
}
/*MEDIA QUERY 1024px display resolution*/
@media only screen and (max-width: 1024px) {
  .header__heading--1 {
    font-size: 3rem;
  }

  .header__heading--span2 {
    font-size: 1rem;
  }
}
/*MEDIA QUERY 600px display resolution*/
@media only screen and (max-width: 600px) {
  .header__heading--1 {
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 10% 0 0 0;
  }

  .header__heading--span2 {
    font-size: 0.9rem;
  }
}

/*******************************************ABOUT SECTION******************************/
.about {
  padding: 20px 20px;
  margin: 5% 0 0 0;
}

/*------------------------------------------------------------------------------*/

/*------------- MEDIA QUERY FOR THE .about ---------------------*/
/*MEDIA QUERY 1024px display resolution*/
@media only screen and (max-width: 1024px) {
  .about {
    font-size: 15px;
  }
}
/*MEDIA QUERY 600px display resolution*/
@media only screen and (max-width: 600px) {
  .about {
    font-size: 16px;
  }
}

/*------------------------------------------------------------------------------*/

.about__img {
  float: left;
}

.about__img--pic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 60px 50px;
  border: 2px solid black;
}

/*------------------------------------------------------------------------------*/

/*------------- MEDIA QUERY FOR THE .about__img--pic ---------------------*/
/*MEDIA QUERY 1024px display resolution*/
@media only screen and (max-width: 1024px) {
  .about__img--pic {
    height: 250px;
    width: 250px;
  }
}
/*MEDIA QUERY 600px display resolution*/
@media only screen and (max-width: 600px) {
  .about__img--pic {
    height: 280px;
    width: 280px;
  }
}

/*------------------------------------------------------------------------------*/

.about__heading {
  text-align: center;
  color: brown;
}

.link-resume {
  text-decoration: none;
  color: red;
  text-shadow: -2px 0px 1px black;
}

.link-resume__span {
  text-decoration: underline red solid 2px;
  text-shadow: -2px 0 1px black;
  font-size: 1.3rem;
  padding: 1px;
}

/*PARAGRAPH STYLING*/
p {
  text-indent: 0px;
}

#about__p--1 {
  text-indent: 0;
  color: rgb(11, 9, 148);
}

.about__p--2 {
  text-indent: 0;
  color: rgb(11, 9, 148);
}

/******************************************SECTION TABLES*************************/
.section-tables {
  position: relative;
  text-align: center;
}

.table-container {
  display: inline-block;
  padding-bottom: 100px;
  color: brown;
  width: 90%;
}

table {
  background-color: rgb(16, 84, 211);
  color: #fff;
  width: 100%;
  border-spacing: 20px;
  border-radius: 20px;
}

table,
th,
td {
  border: 3px solid black;
  padding: 8px;
  text-transform: capitalize;
}

td {
  background-color: brown;
}

thead {
  background-color: darkblue;
  font-size: 30px;
  text-shadow: 0 0 4px #eb447e;
}

.theading1 {
  border: 1px ridge peachpuff;
  border-width: 5px;
}

.theading2 {
  background-color: blue;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.726);
  padding: 20px;
  border: 2px ridge peachpuff;
}

/*------------------------------------------------------------------------------*/

/*------------- MEDIA QUERY FOR THE TABLE SECTION ---------------------*/
/*MEDIA QUERY 600px display resolution*/
@media only screen and (max-width: 600px) {
  table,
  td {
    padding: 0;
  }

  td {
    font-size: 12px;
  }

  thead {
    font-size: 16px;
  }

  .theading2 {
    font-size: 13px;
    padding: 4px;
  }
}

/********************************************************CHILDREN STORIES SECTION*****************************************/
.childrenStories {
  background-image: url("../images/mahdiar-mahmoodi-unsplash.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 20px 100px 20px;
  color: #fff;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .childrenStories {
    height: 200vh;
    padding: 120px 20px;
  }
}

.childrenStories__heading--1 {
  position: absolute;
  background-color: rgb(165, 42, 42);
  display: inline;
  text-shadow: 0 4px 2px rgb(11, 9, 148);
  border-radius: 20px;
  padding: 20px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .childrenStories__heading--1 {
    text-align: center;
    width: 50%;
    font-size: 20px;
    margin-top: 0;
  }
}

/*------------------------------------------------------------------------------*/

/*------------- MEDIA QUERY FOR THE ASIDE ELEMENT ---------------------*/
aside {
  background-color: rgba(16, 84, 211, 0.63);
  text-shadow: 0px 0px 5px #ff5792, 0px 0px 5px #000000;
  width: 30%;
  float: right;
  padding-left: 15px;
  border-radius: 15px;
  margin-top: 50px;
  font-style: italic;
}
/*------------------------------------------------------------------------------*/
/*MEDIA QUERY 1024px display resolution*/
@media only screen and (max-width: 1024px) {
  aside {
    font-size: 15px;
  }
}
/*MEDIA QUERY 600px display resolution*/
@media only screen and (max-width: 600px) {
  aside {
    width: 90%;
    float: none;
    margin: 2% auto;
    font-size: 14px;
    text-shadow: 0 0 5px #000;
    padding: 5px;
  }
}

/*------------------------------------------------------------------------------*/

/*------------- MEDIA QUERY FOR THE ARTICLE ELEMENT ---------------------*/
.childrenStories__article {
  background-color: rgba(3, 37, 97, 0.767);
  width: 65%;
  padding-top: 3px;
  padding-left: 25px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
}
/*------------------------------------------------------------------------------*/
/*MEDIA QUERY 1024px display resolution*/
@media only screen and (max-width: 1024px) {
  .childrenStories__article {
    font-size: 15px;
  }
}
/*MEDIA QUERY 600px display resolution*/
@media only screen and (max-width: 600px) {
  .childrenStories__article {
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
  }
}

/*------------------------------------------------------------------------------*/

.photo-credit__span {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 4px 2px rgb(226, 26, 26);
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .photo-credit__span {
    padding-top: 5%;
    font-size: 0.8rem;
  }
}

/********************************BLOCKQOUTE SECTION*****************************/

blockquote {
  border-left: 5px solid rgb(23, 35, 199);
  padding-left: 10px;
}

/**************************************************COMMUNITY SECTION***************************************************/
.community {
  height: 80vh;
  text-align: center;
  padding: 50px 50px 50px 0px;
  color: brown;
}

@media only screen and (max-width: 600px) {
  .community__heading {
    margin-left: 40px;
  }
}

.clearfix {
  content: "";
  width: 100%;
  clear: both;
  display: table;
}

/*------------------------------------------------------------------------------*/

/*------------- MEDIA QUERY FOR THE .box ---------------------*/
.box {
  float: left;
  background-color: #fff;
  height: 300px;
  width: 300px;
  list-style-type: none;
  margin: 1rem 4%;
  border: 2px ridge black;
}

.box:hover {
  box-shadow: -2px 8px 17px -5px rgba(0, 0, 0, 0.89);
  cursor: pointer;
}
/*------------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .box{
    margin: 0 2%;
    height: 270px;
    width: 270px;
  }
}
@media only screen and (max-width: 600px) {
  .box {
    float: left;
    height: 100px;
    width: 90%;
    padding: 2px;
    text-align: center;
    margin: 5% 1%;
    border: 1px ridge black;
  }
}

/*------------------------------------------------------------------------------*/
.box--1 {
  background-image: url("../images/rbslopez-photos-website.png");
  background-size: cover;
  background-position: left;
}

@media only screen and (max-width: 600px) {
  .box--1 {
    background-position: top;
  }
}

.box--2 {
  background-image: url("../images/2mbchronicleslogo.jpg");
  background-size: contain;
  background-position: 50% 25%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .box--2 {
    background-image: url("../images/mbcchronicles.png");
    background-position: 50% 42%;
    background-size: cover;
  }
}

.box--3 {
  background-image: url("../images/sidhaya.jpg");
  background-size: cover;
  background-position: 15% 42%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .box--3 {
    background-image: url("../images/sidhaya2.jpg");
    background-position: 15% 42%;
    background-size: cover;
  }
}

.list-item__link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

/*********************************************************************FOOTER SECTION*********************************************/
footer {
  background-color: rgb(9, 5, 75);
  color: #fff;
  text-align: center;
}

.footer__heading--2 {
  padding: 35px 10px 35px 10px;
  margin: 0px;
  text-shadow: -3px 3px 4px #00a2ff;
}

.footer__container {
  background-color: rgb(16, 84, 211);
  height: 40vh;
}

.footer__list {
  margin-top: 2rem;
  float: left;
  height: 15vh;
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .footer__list {
    font-size: 12px;
    margin-top: 20px;
  }
}

.footer__item {
  display: block;
  margin-top: 0px;
  margin-bottom: 5px;
  text-shadow: -2px 0px 1px rgb(75, 23, 23);
}

.footer__heading--4 {
  display: inline;
  padding: 1rem 10px 0px 10px;
  text-shadow: -3px 3px 4px rgba(2, 51, 134, 0.938);
  border-bottom: 2px solid rgb(245, 2, 2);
}

@media only screen and (max-width: 600px) {
  .footer__heading--4 {
    font-size: 12px;
    padding: 0;
  }
}

.footer__link {
  text-decoration: none;
  color: #f7f7f7;
}

.footer__link:hover {
  text-shadow: -1px 0px 1px rgb(3, 240, 3);
}

.footer__copyright {
  padding: 0 25px;
  text-align: center;
  margin-top: 3.5rem;
}
@media only screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 12px;
    position: absolute;
    margin-top: 130px;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
  }
}

.footer__photo-credit {
  text-decoration: none;
  color: white;
}
